SECRET_KEY=string_aleatoria_segura
DATABASE_PATH=app/db/atendimento.db
PROPRIETARIO_EMAIL=proprietario@empresa.com
PROPRIETARIO_PASSWORD=senha_segura_inicial
DEBUG_MODE=True
GOOGLE_CLIENT_ID=id_oauth_google
GOOGLE_CLIENT_SECRET=secret_oauth_google
